p {
    font-family: 'Courier New', monospace;
    font-size: 20px;
  }

  header {
    font-style: italic;
  }
body {
    background-color: rgb(27, 58, 65);
    color: white;
    font-size: 40px;
    font-family: "Sofia", sans-serif;
  }
 

  
  