#mainHeading{
    color: red;
}

.funParagraph {
    color: green;
}

p {
    font-family: 'Courier New', monospace;
    font-size: 20px;
  }

  header {
    font-style: italic;
  }
body {
    background-color: rgb(21, 32, 53);
    margin: 8px;
    display: block;
    color: white;
    font-size: 40px;
    font-family: "Sofia", sans-serif;
  }
 

  
  